

@font-face {
    font-family:'AR' ;
    src: url(../fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family:'DMR' ;
    src: url(../fonts/DMMono-Regular.ttf);
}
@font-face {
    font-family: 'IR';
    src: url(../fonts/Inter_24pt-Regular.ttf);
}

